# Compiled python modules
**/__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# macOS files
**/.DS_Store

# Python environment
venv/
.venv/
env/
.env/
.env

# Other files
.idea/
*.swp
*.swo